body {
  display: grid;
  place-content: center;
  background: #fffff8;
  overflow: scroll;
}

body > * {
  min-width: 0px;
}

section {
  padding-top: 2rem;
}

pre {
  background: #eea;
  padding: 1rem;
  border-radius: 10px;
  tab-size: 4;
  overflow: scroll;
}

footer {
  margin-top: 1rem;
  border-top: 1px dashed black;
  padding-bottom: 1rem;
}

ol {
  list-style-position: inside;
}

li + li {
  margin-top: 5px;
}

a,
:visited {
  color: inherit;
}

a:hover {
  color: blue;
}
